body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #141414;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

header img {
    display: block;
    margin: 0 auto;
}

main {
    text-align: center;
}

h2 {
    margin-bottom: 30px;
    font-size: 24px;
}

.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid layout */
    grid-gap: 20px;
}

.movie {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.movie:hover {
    background-color: #e50914;
}

.movie img {
    width: 190%; /* Make images fill the entire width of their container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px 5px 0 0; /* Rounded top corners */
}

.movie h3 {
    margin: 10px 0;
    
}
